@import 'styles/typography.scss';
@import 'styles/helpers.scss';
@import 'styles/media.scss';

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.imageBorder {
  align-items: center;
  border: solid 2px var(--color-grey-40);
  border-radius: 2px;
  display: flex;
  max-height: 323px;
  justify-content: center;
  max-width: 323px;
  min-height: 323px;
  height: 100%;
  width: 100%;

  @include desktop {
    height: 400px;
    width: 400px;
  }
}

.image {
  align-items: center;
  object-fit: cover;
  display: flex;
  height: 321px;
  justify-content: center;
  width: 321px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.cardLink {
  @extend ._link;
  @extend .caption-2;
  align-items: center;
  color: var(--color-grey-50);
  display: flex;
  margin-top: 16px;

  @include desktop {
    @include caption-1;
  }

  &:hover {
    color: var(--color-teal-60);
  }
}

.linkIcon {
  margin-right: 4px;
}

.loader {
  width: 100px;
  object-fit: contain;
  position: absolute;
}
